/Ex6/Test1/nbproject/private/
/Ex6/Test1/build/
/Ex6/Test2/nbproject/private/
/Ex6/Test2/build/
/Test1/build/
/Test1/nbproject/private/
/Ex6/Final02/nbproject/private/
/Ex6/Final02/build/
/De01/JavaApplication26/nbproject/private/
/De01/JavaApplication26/build/